
.home {
  background-color: #fff;
  height: 100vh;

  .container {
    display: flex;
  }

  .side-bar {
    width: 400px;
    height: 100vh;
    border-right: 1px solid #ddd;
  }

  .chat {
    flex: 1;
  }
}