.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 24px;
  border-bottom: 1px solid #ddd;
  
  img {
    background-color: #333;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user {
    margin-right: 120px;

    .user-name {
      font-size: 1.8rem;
    }

    .user-des {
      margin-top: 6px;
      font-size: 1.4rem;
      color: #b1afaf;
    }
  }

  .icon-logout {
    background-color: #faf9fe;
  }
  
}