
.rooms-wrapper {
  padding: 24px;

  .header-rooms {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-size: 2rem;
    }

  .icon-add-room {
    background-color: #faf9fe;
  }
  }

  .room-chat {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    
    &:hover {
      background-color: #f3f3f5;
    }

    .room-avatar {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: #333;
      object-fit: cover;
    }

    .room-info {
      margin-left: 20px;

      .room-name {
        font-weight:600;
        padding-bottom: 10px;
      }
  
      .room-des {
        font-size: 1.4rem;
        color: #b1afaf;
      }
    }

    .room-times {
      margin-left: auto;
      color: #b1afaf;
    }

    

    

    
  }
}

